# Private keys can be in there
**/.env
**/personal-service-account.json

# Dependencies
**/node_modules

# Useless and heavy folders
**/build
**/dist
data
[...]
**/.next
**/.vercel
**/.react-email
**/coverage

# Other useless files in the image
.git/
.github/
[...]
**/mockup-data.sql

