POSTGRES_HOST=db
POSTGRES_DB=badgehub
POSTGRES_USER=badgehub
POSTGRES_PASSWORD=badgehub
PGADMIN_DEFAULT_PASSWORD=badgehub
PGADMIN_DEFAULT_EMAIL=dev@badgehub.team

NODE_ENV=development

JWT_SIGNING_KEY="!!HackThePlanet!!"
